@{
    ViewData["Title"] = "Home Page";
    string result = ViewBag.result;

}
<div class="container-full">
    <div class="text-center">
    <h1 class="display-4">Welcome to HR Helper</h1>
    
  
</div>
    <img src=/lib/images/2053052.jpg />
</div>

